/* Write your CSS here */

.bg_container {
  background-color: #f1f5f8;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: black;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 25px;
}

.count {
  background-color: #c20a72;
  font-weight: 600;
  font-size: 30px;
}

.button {
  color: white;
  background-color: #007bff;
  width: 60px;
  height: 30px;
}
